doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="color-scheme", content="light dark")
    link(rel="stylesheet", href="css/pico.classless.min.css")
    title=title
    link(rel="stylesheet", href="/css/styles.css")
  body(style="min-height: 100vh;")
    include includes/header.pug
    main.container
      block content
    include includes/footer.pug