extends layout

block content
    h1=title
    p=message
    form(action="/api/v1/users" method="POST")
        label(for="name") Name:
        input#name(type="text" name="name" required placeholder="Enter your name")

        label(for="email") Email:
        input#email(type="email" name="email" required placeholder="Enter your email")

        label(for="age") Age:
        input#age(type="number" name="age" required min="1" placeholder="Enter your age")

        label(for="password") Password:
        input#password(type="password" name="password" required placeholder="Enter your password")

        button(type="submit") Register

        p Already have an account? 
          a(href="/login") Login here